<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

	<!-- Add the email settings to the <system.net> element -->
	<system.net>
		<mailSettings>
			<smtp>
				<network
					 host="mail.WebSiteLive.net"
					 port="25"
					 userName="vicky.morris@drllimited.co.uk"
					 password="el1zabeth" />
			</smtp>
		</mailSettings>
		<!--<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="192.168.0.4" port="25"/>
			</smtp>
		</mailSettings>-->
	</system.net>

	<appSettings>
		<add key="mailto" value="contactus@bullsheadhartshorne.co.uk"/>
		<add key="mailfrom" value="contactus@bullsheadhartshorne.co.uk"/>
		<add key="contactsubject" value="Customer web contact"/>
	</appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

	  <customErrors defaultRedirect="~/Errors/Generic.aspx" mode="Off">
		  <error statusCode="404" redirect="~/Errors/404.aspx"/>
	  </customErrors>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
	  <staticContent>
		  
	  </staticContent>
  </system.webServer>
</configuration>
